body {
    height: 100%;
    width: 100%;
}

div,
#isl-data,
.gs-question-table,
.main-question-table {
    margin: 20px;
}

.hide {
    display: none;
}

.formData {
    position: fixed;
    top: 50px;
    left: 50px;
    z-index: 9;
    background:yellowgreen;
    font-size: 22px;;
}